:test: 
  :website_name: my portfolio test
  :pass: pass
  :dropbox_consumer_key: xxx
  :dropbox_consumer_secret: xxx

:development: 
  :website_name: my portfolio developemnt
  :pass: pass
  :dropbox_consumer_key: xxx
  :dropbox_consumer_secret: xxx
  
:production: 
  :website_name: %website_name%
  :pass: %pass%
  :dropbox_consumer_key: %dropbox_consumer_key%
  :dropbox_consumer_secret: %dropbox_consumer_secret%



