<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <style>
      body { background: #eee; }
      li { list-style: none !important; }
    </style>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="menu">
      <ul>
        {{#collections}}
          <li>
            {{title}}
            <ul>
              {{#items}}
                <li><a href="{{}}/{{title}}">{{title}}</a></li>
              {{/items}}
            </ul>
          </li>
        {{/collections}}
      </ul>
    </div>
    
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>